body{
    margin: 0;
}

nav{
    background-color: rgb(255, 218, 182);
    margin-top: 0;
    left: 0;
    height: 40vh;
    width: 100%;
    position: fixed;
}

.menu {
    background-color: rgb(255, 218, 182);
    display: inline-block;
    margin-top: 60px;
    position: relative;
}


.menu a{
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;
    color: rgb(255, 134, 95);
    margin-left: 20px;
   
}

ul {
    list-style-type: none;
    padding: 10px;
    /* display: none; */
}

.lista{
    display: none;
}

#hamburger{
    height: 36px;
    width: 36px;
    top: 20px;
    cursor: pointer;
    margin-left: 30px;
    margin-top: 10px;
    position: fixed;    
}

.tracinho{
    background-color: rgb(255, 134, 95);;
    border-radius: 25%;
    height: 6px;
    margin-top: 5px;
    transition: 1.2s;
}


.esconder{
    display: none;
}

@media(min-width: 768px){
    .menu ul{
        display: flex;
        justify-content: space-around;
    }
    nav{
        height: 25vh;
    }
    .lista {
        display: flex;
    }

    .hamburger{
        display: none; 
    } 
}







    




