body{
    margin: 0;
}

nav{
    background-color: rgb(255, 218, 182);
    margin-top: 0;
    height: 20vh;
    width: 100%;
}

.menu {
    background-color: rgb(255, 218, 182);
    display: inline-block;
    margin-top: 20px;
    position: relative;
}


.menu a{
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;
    color: rgb(255, 134, 95);
    margin-left: 20px;
   
}

ul {
    list-style-type: none;
}

ul li{
    padding: 5px;
}

.lista{
    display: none;
    padding: 40px;
    float: left;
    position: relative;
    margin-left: 0px;
}

#hamburguer{
    height: 36px;
    width: 36px;
    cursor: pointer;
    margin-left: 30px;
    float: left;   
    margin-top: 10px;
    position: fixed;
}

.tracinho{
    background-color: rgb(255, 134, 95);
    border-radius: 25%;
    height: 6px;
    margin-top: 5px;
    transition: 1.2s;
}

.lista.active{
    display: block;
}

nav.active{
    height: 60vh;
}

.imagem img{
    width: 100%;  
    height: 80vh;

}

#quemsomos{
    display: flex;
    background-color: rgb(255, 183, 129);
    height: 40vh;
    padding: 30px;
}
#quemsomos p{
    padding: 20px;
}

#plataforma{
    background-color: rgb(255, 183, 129);
    height: 40vh;
    padding: 30px;
}

#parceiros{
    background-color: rgb(255, 183, 129);
    height: 40vh;
    padding: 15px;
}

#parceiros p{
    padding: 20px;
}

#contatos{
    background-color: rgb(255, 218, 182);
    justify-content: space-around;
    display: block;
    padding: 20px;
    height: 40vh;
}

#contatos p{
    text-transform: uppercase;
    font-weight: bold;
    color: rgb(255, 134, 95);
}

#contatos a{
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
    padding: 10px;
    display: flex;
    color: rgb(255, 134, 95);
    height: 30px;
}

a span{
    padding: 10px;

}


@media(min-width: 768px){
    .menu ul{
        display: flex;
        justify-content: space-around;
    }
    nav{
        height: 25vh;
    }
    .lista {
        display: flex;
    }

    #hamburguer{
        display: none; 
    } 
    #contatos{
        display: flex;
        justify-content: space-around;
        height: 20vh;
    }

    .imagem img{
        width: 100%;  
        height: 80vh;
    
    }
}







    




